
@{
    ViewData["Title"] = "Home Page";
}

<p>Hello @User.Identity.Name !</p>

<a asp-action="CreateHero" asp-controller="Home">Create a hero NOW!</a><br />

<a asp-action="CreateDragon" asp-controller="Home">Create a dragon NOW!</a><br />

<a asp-action="HeroList" asp-controller="Home">View all heroes</a>